In [1]:
%store -r data_frame_2
df = data_frame_2

In [2]:
'''
Function that checks whether or not a list exists in a list of lists
'''
def list_present(toplist, sublist):
    for i in toplist:
        if sublist == i:
            return True
    return False

In [3]:
def mergesort(l):
    
    length = len(l)
    if length <= 1:
        return l
    
    else:
        first = mergesort(l[:length//2])
        second = mergesort(l[length//2:])
        i = j = 0
        s = [] #new sorted array
        
        # Merge by comparing the smallest (unused) elements in each list
        while i < len(first) and j < len(second):
            if first[i] <= second[j]:
                s.append(first[i])
                i += 1
            else:
                s.append(second[j])
                j += 1
        
        # Add in all remaining elements from 'first'
        while i < len(first):
            s.append(first[i])
            i += 1
        
        # Add in all remaining elements from 'second'
        while j < len(second):
            s.append(second[j])
            j += 1

        return s

In [4]:
comparisons = []
for x in list(df['comparison_type']):
    if type(x) == list:
        if not list_present(comparisons, x):
            comparisons.append(x)
print(comparisons)

[[10, 18], [4, 10], [8, 18], [10, 22], [18, 22], [6, 10], [8, 22], [4, 18], [14, 28], [10, 34], [22, 28], [10, 40], [6, 8], [8, 28], [8, 40], [6, 22], [6, 18], [34, 40], [8, 14], [4, 22], [4, 34], [18, 28], [4, 14], [18, 40], [8, 10], [28, 40], [4, 40], [18, 34], [4, 6], [28, 34], [4, 8], [6, 28], [6, 34], [22, 34], [14, 22], [10, 28], [6, 14], [10, 14], [6, 40], [4, 28], [14, 18], [8, 34], [14, 40], [22, 40], [14, 34]]

In [5]:
#Sort by the separation between comparisons, if separation is the same, sort by most recent
def separation_sort(comps):
    sep = []
    for i in comps:
        #print(i)
        if len(sep) == 0:
            sep.append(i)
        else:
            temp = sep.copy()
            for idx, j in enumerate(sep):
                #print('before')
                #print(temp)
                if (i[1] - i[0]) < (j[1] - j[0]): #if the new separation is less than the one in this position in sep
                    temp.insert(idx, i)
                    #print('less than')
                    #print(temp)
                    break
                elif (i[1] - i[0]) == (j[1] - j[0]):#else if same, check first val
                    if (i[0] < j[0]):
                        temp.insert(idx, i)
                        #print('equal then less than')
                        #print(temp)
                        break
                elif (idx == len(sep) - 1):
                    temp.append(i)
                    break
            sep = temp.copy()
            #print(sep)
    return sep

In [13]:
comparisons = separation_sort(comparisons)
comparisons

[[4, 6],
 [4, 8],
 [4, 10],
 [6, 14],
 [4, 14],
 [6, 18],
 [4, 18],
 [6, 22],
 [4, 22],
 [8, 28],
 [6, 28],
 [4, 28],
 [8, 34],
 [6, 34],
 [4, 34],
 [8, 40],
 [6, 40],
 [4, 40]]

In [7]:
distances = []
for comp in comparisons:
    distances.append(comp[0])
    distances.append(comp[1])
distances = list(set(distances))
distances = mergesort(distances)
distances

[4, 6, 8, 10, 14, 18, 22, 28, 34, 40]

In [11]:
for i in distances:
    row = str(i) + ':   '
    if i < 10:
        row = str(i) + ':    '
    for j in distances:
        if i < j:
            row = row + str(j) + ' '
    print(row)

4:    6 8 10 14 18 22 28 34 40
6:    8 10 14 18 22 28 34 40
8:    10 14 18 22 28 34 40
10:   14 18 22 28 34 40
14:   18 22 28 34 40
18:   22 28 34 40
22:   28 34 40
28:   34 40
34:   40
40:

In [21]:
df[['left_word_study', 'right_word_study', 'left_word_test', 'right_word_test', 'left_comp_type', 'right_comp_type']][30:50]

,left_word_study,right_word_study,left_word_test,right_word_test,left_comp_type,right_comp_type
504,FUNGUS,LUGGAGE,NaN,NaN,NaN,NaN
505,JAPAN,ULCER,NaN,NaN,NaN,NaN
506,JOURNAL,LOVER,NaN,NaN,NaN,NaN
507,UMPIRE,KLEENEX,NaN,NaN,NaN,NaN
508,HEART,SPOON,NaN,NaN,NaN,NaN
509,LUMBER,XEROX,NaN,NaN,NaN,NaN
510,NaN,NaN,MOP,HARP,18.0,10.0
511,EUROPE,IDOL,NaN,NaN,NaN,NaN
512,NaN,NaN,UMPIRE,FLUTE,4.0,10.0
513,TURNIP,TILE,NaN,NaN,NaN,NaN
514,NaN,NaN,JAPAN,PARROT,8.0,18.0
515,FLESH,VALVE,NaN,NaN,NaN,NaN
516,NaN,NaN,LIPSTICK,ULCER,22.0,10.0
517,WIDOW,LACE,NaN,NaN,NaN,NaN
518,NaN,NaN,PECAN,TROMBONE,22.0,18.0
519,STONE,YARN,NaN,NaN,NaN,NaN
520,NaN,NaN,LUMBER,TURNIP,10.0,6.0
521,INFANT,UNCLE,NaN,NaN,NaN,NaN
522,NaN,NaN,TILE,LODGE,8.0,22.0
523,COD,LEG,NaN,NaN,NaN,NaN